<h1>Home Page</h1>

<h1>Event list</h1>

<ul>
    <% @events.each do |event| %>
        <li><%= link_to event.name, event_path(event.id) %></li><br>
    <% end %>
</ul>

<%= button_to "Register", new_user_path, method: :get%>
<%= button_to "Log In", new_session_path, method: :get%>