<div class="margin-top container">
    <div class="title">Event list</div>

    <div id="event-titles">
        <% @events.each do |event| %>
            <div class="card">
                <a href ="events/<%=event.id%>">
                    <img id="event-img" src=<%= image_path(event.img)%> class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <p class="card-text"> <%= event.name %> in <%= event.location.city %></p>
                </div>
            </div>
        <% end %>
    </div>
</div>