<div id="event-index" class="container">
    <div class="title">Event list</div>

    <ul>
        <% @events.each do |event| %>
            <div class="card" style="width: 18rem; height: 320px">
                <a href ="events/<%=event.id%>">
                    <img id="event-img" src=<%= image_path(event.img)%> class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <p class="card-text"> <%= event.name %> in <%= event.location.city %></p>
                </div>
            </div>
        <% end %>
    </ul>
</div>