<div id="hotel-index" class="container notification">
    <h1 class="title is-4">Hotel List:</h1>
    <ul>
        <% @hotels.each do |hotel| %>
            <li><%= link_to hotel.name, hotel_path(hotel.id) %></li><br>
        <% end %>
    </ul>
</div>