<div class="container notification margin-top">
    <h1 class="title">Hotel List:</h1>
    <ul>
        <% @hotels.each do |hotel| %>
            <li><%= link_to hotel.name, hotel_path(hotel.id) %></li><br>
        <% end %>
    </ul>
</div>