<div id="hotel-show" class="container jumbotron">
    <div class="title"><%= @hotel.name %></div>
    <div><strong>Room Rate:</strong> <%= "$#{@hotel.room_rate}" %></div><br>
    <div><strong>Location:</strong> <%= @hotel.location.city %></div>
</div>