<div class="container notification margin-top">
    <h1 class="title">Location List:</h1>

    <ul>
        <% @locations.each do |location| %>
            <li><%= link_to location.city, location_path(location.id) %></li><br>
        <% end %>
    </ul>
</div>