<div class="display-4 custom-title"> Locations </div>
<div class="container notification margin-top">

    <ul>
        <% @locations.each do |location| %>
            <li><%= link_to location.city, location_path(location.id) %></li><br>
        <% end %>
    </ul>
</div>